version: "3.8"

services:
  app:
    container_name: class-review-site-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE: "prod"
      SERVER_PROFILES_INCLUDE: "private"
      SERVER_PORT: "8080"

      SPRING_DATASOURCE_URL: "jdbc:mysql://152.67.215.109:43306/review"
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: "com.mysql.cj.jdbc.Driver"
      SPRING_DATASOURCE_USERNAME: "user!@#"
      SPRING_DATASOURCE_PASSWORD: "0000!@#"

      SPRING_JPA_HIBERNATE_DDL_AUTO: "none"
      SPRING_JPA_HIBERNATE_NAMING_IMPLICIT_STRATEGY: "org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl"
      SPRING_JPA_HIBERNATE_NAMING_PHYSICAL_STRATEGY: "org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_BATCH_FETCH_SIZE: "10"
      SPRING_JPA_DEFER_DATASOURCE_INITIALIZATION: "true"

      JWT_HEADER: "Authorization"
      JWT_SECRET: "c2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQK"
      JWT_TOKEN_VALIDITY_IN_SECONDS: "86400"